<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              clifford: '#da373d',
            },
          },
        },
      };
    </script>
  </head>
  <body>
    <% if (frame) { %>
    <div class="w-screen min-h-screen flex">
      <div class="flex flex-col border-r w-1/6 items-center pt-20 bg-gray-100">
        <div id="/reservation/new" class="flex justify-center w-full py-5">
          <a class="text-lg" href="/reservation/new">주차 목록 생성</a>
        </div>
        <!-- <div id="/reservation/list" class="flex justify-center w-full py-5">
          <a class="text-lg" href="/reservation/list">주차 목록 확인</a>
        </div> -->
      </div>
      <div class="flex flex-col w-full">
        <div class="flex py-5 justify-end pr-10 border-b">
          <form action="/logout">
            <button>로그아웃</button>
          </form>
        </div>
        <%- body %>
      </div>
    </div>
    <% } else { %> <%- body %> <% } %>
  </body>
  <script>
    // anchor color
    const path_define = {
      reservationNew: '/reservation/new',
      reservationList: '/reservation/list',
    };
    const pathName = window.location.pathname;
    const anchor = document.getElementById(pathName);
    anchor.style.cssText = 'color: blue';
    //
  </script>
</html>
