<%- contentFor('body') %>

<header>대시보드</header>
<div class="container">
  <div class="formContainer">
    <form id="form__login">
      <input id="form__id" placeholder="id" name="id" />
      <input id="form__password" placeholder="pw" name="password" />
      <button type="submit">hi</button>
    </form>
  </div>
</div>
