<body>
  <form
    action="/reservations"
    method="post"
    id="form__excel"
    enctype="multipart/form-data"
  >
    <input type="file" id="file_input" name="<%= uploadKey %>" />
    <input type="date" id="date_input" name="date" />
    <button type="submit" id="button__submit">파일생성</button>
  </form>
  <script>
    const isSuccess = '<%= isSuccess %>';
    if (isSuccess) alert('등록에 성공하였습니다.');

    const button = document.getElementById('button__submit');
    button.addEventListener('click', function (event) {
      const fileInput = document.getElementById('file_input');
      const dateInput = document.getElementById('date_input');

      const hasFile = fileInput.files.length !== 0;
      const hasDate = dateInput.value.length !== 0;

      if (!hasDate) {
        event.preventDefault();
        alert('업로드 날짜를 선택해주세요');
        return;
      }

      if (!hasFile) {
        event.preventDefault();
        alert('파일을 먼저 추가해주세요.');
        return;
      }
    });
  </script>
</body>
